<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>SpringLoginRegistration</title>
<link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>
<body>
	<form action="#" th:action="@{/resetPassword}" th:object="${emailDto}"
		method="post">
		<h1>Reset Password</h1>
		<div>
			<p1 class="errorFont" th:if="${#fields.hasErrors('email')}"
				th:errors="*{email}"></p1>
			<br>
			<p1> <input class="inputBox" type="text" th:field="*{email}"
				placeholder="Email" /> </p1>
			<br>

			<button type="submit">Submit</button>
			<a href="/">Cancel</a>
		</div>
	</form>
</body>
</html>